* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html {
    overflow-y:scroll;
}
body{
    margin:0px;
}
header {
    background-color:rgb(235, 255, 242);
    color:darkslategray;
    margin:0;
    padding: 5px;
}
.timerControl {
    display: flex;
    justify-content: center;
    background-color: white;
    border: thin solid gray;
    padding: 5px;
    font-size: 20px;
    color:gray;
    margin-left: 20px;
    margin-right: auto;
    align-self: center;
    max-width: 300px;
}
.timerControl button {
    margin: 1px;
    font-size: 12px;
    user-select: none;
    cursor: pointer;
}
#timer {
    margin-right: 10px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
}
#timer:hover {
    color: rgb(0, 255, 191);
}
#timerInput {
    display: none;
}
nav {
    margin: 0;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: darkslategray;
    box-shadow: 0 2px 5px gray;
}
.searchbar {
    width: 100%;
    max-width: 450px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.searchbar input{
    flex: 1;
    padding: 10px 10px;
    font-size: 18px;
}
.searchbutton {
    padding: 10px 10px;
    font-size: 18px;
    user-select: none;
    cursor: pointer;
}




aside {
    width: 25%;
    min-width: 0;
    float: right;
    background-color: whitesmoke;
    margin: 50px 2.5%;
    border: grey solid 1px;
}
aside div {
    margin: 10px;
    border: grey solid 1px;
}




.recipeList {
    margin-top: 50px;
    background-color:white;
    width: 70%;
}
.recipe {
    border: rgb(173, 173, 173) thin solid;
    padding: 0px 5px;
    margin: 25px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 1px 1px grey;
}
.recipe img {
    width: 50px;
    height: 75px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.recipeDetails {
    margin: 10px 20px;
    margin-bottom: 20px;
}
.recipeTitle {
    margin: 10px 20px;
}