* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    margin:0px;
}
header {
    background-color:rgb(235, 255, 242);
    color:darkslategray;
    margin:0;
    padding: 5px;
}
.timerControl {
    display: flex;
    justify-content: center;
    background-color: white;
    border: thin solid gray;
    padding: 5px;
    font-size: 20px;
    color:gray;
    margin-left: 20px;
    margin-right: auto;
    align-self: center;
    width: 400px;
}
.timerControl button {
    margin: 1px;
    font-size: 12px;
    user-select: none;
    cursor: pointer;
}
#timer {
    margin-right: 10px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
}
#timerInput {
    display: none;
}
.prompt {
    margin: 0;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: darkslategray;
    box-shadow: 0 2px 5px black;
}
.searchbar {
    width: 100%;
    max-width: 450px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.searchbar input{
    flex: 1;
    padding: 10px 10px;
    font-size: 18px;
}
.searchbutton {
    padding: 10px 10px;
    font-size: 18px;
    user-select: none;
    cursor: pointer;
}
.recipeList {
    margin: 5%;
    padding: 10px;
    background-color:rgb(217, 248, 220);
    border-radius: 10px;
}
.recipe {
    border: thin solid;
    padding: 0px 5px;
    margin: 25px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 3px grey;
}
.recipe img {
    width: 50px;
    height: 50px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.recipeDetails {
    margin: 10px 20px;
    margin-bottom: 20px;
}
.recipeTitle {
    margin: 10px 20px;
}